body{
    font-family: "Ubuntu";
    background-color: #E1E8ED;

}

h1{

    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    font-size: 50px;
}

#highlight{
    color: #FF9D07;
}

.span{
    display: block;
    text-align: center;


}

span:nth-of-type(1){
    margin-top: 1em;
}

img{
    max-width: 30%;
    height: auto;
    margin: 20px;
    margin-bottom: 0px;
}

.rounded{
    border-radius: 20px;
}

div{
    text-align: center;
    margin-top: 50px;
}

a{
    color: black;
}

.a{
    background: #99AAB5;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.36);
    color: white;
    text-decoration: none;
}

#firstBtn{
    font-size: 80px;
    margin-top: 15%;
}


.button {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowing 3s infinite;
}

.center{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.rotating {
    top: 15%;
    left: 50%;
    position: absolute;
    -webkit-animation: rotating 3s linear infinite, fadeIn ease 8s;
    -moz-animation: rotating 3s linear infinite, fadeIn ease 8s;
    -ms-animation: rotating 3s linear infinite, fadeIn ease 8s;
    -o-animation: rotating 3s linear infinite, fadeIn ease 8s;
    animation: rotating 3s linear infinite, fadeIn ease 8s;
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.spin {
    display: block;
    width: 120px;
    height: 120px;
    margin-left: 10%;
    margin-top: 10%;
    -webkit-animation: spin 4s linear infinite, fadeIn ease 8s;
    -moz-animation: spin 4s linear infinite, fadeIn ease 8s;
    animation:spin 4s linear infinite, fadeIn ease 8s;
}

.pulse {
    position: absolute;
    left: 80%;
    top: 25%;
    animation-name: pulse_animation, fadeIn;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sidetoside {
  position: relative;
  animation: example 3s infinite, fadeIn ease 8s;
}

.color{
    position: absolute;
    top: 60%;
    left: 40%;
    animation: color-change 1s infinite, fadeIn ease 8s;
}

#pt2{
    top: 70%;
    left: 80%;
    position: absolute;

}

#one{
    position: absolute;
    top: 20%;
    left: 10%;
}

#pt3{
    left: 10% !important;
    top: 70% !important;
    position: absolute;
}

.applyBtn{
    position: absolute;
    top: 75%;
    left: 45%;
    background-color: #FF9D07;
    animation: fadeIn ease 8s !important;

}

#backtostart{
    position: absolute;
    top: 95%;
    left: 92%;
}


@keyframes glowing {
  0% {
    background-color: #FFCD81;
    box-shadow: 0 0 3px #FFCD81;
  }
  50% {
    background-color: #FF9D07;
    box-shadow: 0 0 10px #FF9D07;
  }
  100% {
    background-color: #FFCD81;
    box-shadow: 0 0 3px #FFCD81;
  }
}


@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.float {
    position: relative;
    -webkit-animation: floatBubble 8s infinite  normal ease-out, spin 4s linear infinite;
    animation: floatBubble 8s infinite  normal ease-out, spin 4s linear infinite;
}

.float:nth-of-type(2) { animation-delay: -3s; }
.float:nth-of-type(3) { animation-delay: -7s; }
.float:nth-of-type(4) { animation-delay: -2s; }
.float:nth-of-type(5) { animation-delay: -5s; }

@-webkit-keyframes floatBubble {
    0% {
        top:-300px;
    }
    100% {
        top: 800px;
    }
}
@keyframes floatBubble {
    0% {
        top:-300px;
    }
    100% {
        top: 800px;
    }
}



@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1.25); }
    40% { transform: scale(1.40); }
    50% { transform: scale(1); }
    60% { transform: scale(1.15); }
    70% { transform: scale(1.30); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}




@keyframes example {
  0%,
  100% {
    left: -100px;
  }

  50% {
    left: 100px;
  }
}


@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}

